- provide(:title, "Skripsi dan Pkl")
- content_for :specific_js do
	= javascript_include_tag "published_course", "data-turbolinks-track" => true
#wraper
	%header
		%h1 
			%i.fa.fa-book
			Published Skripsi / Pkl
	%section
		#published_course