var html = "<%= j render('form') %>";
var facultyModal = $("#supervisor-modal");
if (facultyModal.length == 1) {
	facultyModal.modal("hide");
	facultyModal.on('hidden.bs.modal', function(e){
		$(e.target).remove();
		$("body").append(html);
		$("#supervisor-modal").modal({show: true});
	});
}else{
	$("body").append(html);
	$("#supervisor-modal").modal({show: true});	
}

var autoComplete = $("#lecturer_name").autocomplete({
	appendTo: "#supervisor-modal .modal-footer",
	minLength: 2,
	autoFocus: true,
	source: function(req, resp){
		$.ajax({
			url: "<%= search_lecturers_path %>",
			dataType: "json",
			data: {query: req.term},
			success: function(data){
				resp($.map(data, function(item){
					return {
						value: item.id,
						label: item.full_name,
						supervisors_skripsi_count: item.supervisors_skripsi_count,
						supervisors_pkl_count: item.supervisors_pkl_count
					}
				}));
			}
		});
	},
	focus: function(event, ui){
		$("#lecturer_name").val(ui.item.label);
		return false;
	},
	select: function(event, ui){
		$("#lecturer_name").val(ui.item.label);
		$("#supervisor_lecturer_id").val(ui.item.value);
		return false;
	}
}).data("ui-autocomplete");

autoComplete._renderItem =  function(ul, item){
	var html = "<li data-value=\""+item.value+"\"><a><div class=\"row\"><div class=\"col-sm-3\"><img class=\"img-circle img-thumbnail\" src=\"http://placehold.it/50x50\"></div><div class=\"col-sm-9\"><blockquote><p>"+item.label+"<br/><div class=\"label-group\"><span class=\"label label-primary\"><i class=\"fa fa-book\"></i> Skripsi : "+item.supervisors_skripsi_count+"</span><span class=\"label label-success\"><i class=\"fa fa-file\"></i> Pkl :"+item.supervisors_pkl_count+"</span></div></p></blockquote></div></div></a></li>";
	return $(html).appendTo(ul);
}

