<div class="form-group">
	<label class="sr-only" for="concentration">Konsentrasi</label>
	<div class="col-sm-12">
		<select class="form-control" name="concentration" id="concentration">
			<option value="">Pilih Konsentrasi</option>
		</select>
	</div>
</div>