<div class="form-group">
	<label class="sr-only" for="department">Jurusan</label>
	<div class="col-sm-12">
		<select class="form-control" name="department" id="department">
			<option value="">Pilih Jurusan</option>
		</select>
	</div>
</div>