<div class="row">
	<div class="col-md-4">
		<div id="filter">
			<header>
				<h3>
					<i class="fa fa-filter"></i>
					Filter
				</h3>
			</header>
			<section>
				<div class="form-horizontal" role="form">
					<div class="form-group">
						<label class="sr-only" for="query">Query</label>
						<div class="col-sm-12">
							<input type="text" name="query" id="query" class="form-control" placeholder="Nama mahasiswa / Nim / Judul">
						</div>
					</div>
					<div class="form-group">
						<label class="sr-only" for="type">Tipe</label>
						<div class="col-sm-12">
							<div class="btn-group" data-toggle="buttons" id="type">
								<label class="btn btn-primary active">
									<input type="radio" name="type" value="all" checked> Semua
								</label>
								<label class="btn btn-primary">
									<input type="radio" name="type" value="Skripsi"> Skripsi
								</label>
								<label class="btn btn-primary">
									<input type="radio" name="type" value="Pkl"> Pkl
								</label>
							</div>
						</div>
						
					</div>
					<div class="form-group">
						<label class="sr-only" for="faculty">Faculty</label>
						<div class="col-sm-12">
							<select class="form-control" name="faculty" id="faculty">
								<option value="">Pilih Fakultas</option>
							</select>
						</div>
					</div>
					<div id="departments"></div>
					<div id="concentrations"></div>
				</div>
			</section>
		</div>
	</div>

	<div class="col-md-8">
		<div class="action" style="border-bottom: 1px #dadada solid; padding-top:15px; padding-bottom: 20px; margin-bottom: 20px;">
			<div class="form-inline" role="form">
				<div class="form-group">
					<label class="checkbox-inline">
						Tampilkan
						<select id="iDisplayLength">
							<option value="10" selected>10</option>
							<option value="25">25</option>
							<option value="50">50</option>
							<option value="100">100</option>
						</select>
						records per halaman
					</label>
				</div>
			</div>
		</div>
		<div id="course-list">
			<div class="result-info"></div>
			<div class="result"></div>
		</div>
	</div>
	<div id="paginate"></div>
</div>
