- provide(:title, "Reset Password")

#wraper
	.col-sm-6.col-sm-offset-3
		#reset-password{style: "border: 1px solid #dadada; padding: 40px;"}
			%header
				%h1 
					%i.fa.fa-key
					Reset Password
			%section
				%p.lead 
					Pesan ini muncul hanya sekali setelah melakukan reset password, mohon segera melakukan penggantian password demi keamanan
					%br
					%br
					%small 
						Password baru untuk username
						%code
							%kbd= @student.username
						dengan kepemilikan account 
						%code
							%kbd= @student.class.to_s.downcase
						dengan nama
						%code
							%kbd= @student.to_s
						adalah
						%code
							%kbd= @student.user.password