<section>
	<div class="action">
		<div class="row">
			<div class="col-xs-6">
				<label>
					Show 
					<select size="1" name="cDisplayLength" id="cDisplayLength">
						<option value="10" selected="selected">10</option>
						<option value="25">25</option>
						<option value="50">50</option>
						<option value="100">100</option>
					</select> 
					entries
				</label>
			</div>
			<div class="col-xs-6"></div>
		</div>
	</div>
	<hr>
	<ul class="media-list"></ul>
</section>
<footer>
	<div id="paginate"></div>
</footer>