- content_for :specific_js do
	= javascript_include_tag "conferences", "data-turbolinks-track" => true

%header
	%h1 Seminar / Sidang
%section
	.row
		.col-sm-8
			#conferences
		.col-sm-4
			%header
				%h3 Belum Dijadwalkan
			%section
				#unscheduled-conferences
%footer