

%header
	%h1 Persetujuan Akhir Seminar / Sidang

%section
	%table#conferences.table.table-bordered{"data-source" => "#{faculties_url(format: "json")}"}
		%thead
			%tr
				%th
					.text-center Name
				%th
					.text-center Website
				%th
					.text-center Created at
				%th
					.text-center Action
		%tbody
%footer