- content_for :specific_js do
	= javascript_include_tag "conferences", "data-turbolinks-track" => true

%header
	%h1 Seminar / Sidang
%section
	.row
		.col-sm-8
			#conferences{"data-source" => "#{conferences_path(scheduled: true)}"}
		.col-sm-4
			%header
				%h3 Belum Dijadwalkan
			%section
				.panel-group
					#unscheduled-conferences{"data-source" => "#{conferences_path(use_pagination: true, scheduled: false)}"}
%footer