#sidang-modal.modal.fade{tabindex: "-1", role: "dialog", "aria-labelledby" => "sidangModalLabel", "aria-hidden" => "true", "data-backdrop" => "static", "data-keyboard" => "true"}
	.modal-dialog{style: "width: 1000px;"}
		.modal-content
			.modal-header
				%button.close{type: "button", "data-dismiss" => "modal", "aria-hidden" => true} &times;
				%h4#sidangModalLabel.modal-title Berkas Laporan Sidang
			.modal-body
				
			.modal-footer
				= link_to "#", class: "btn btn-primary" do
					%i.fa.fa-download
					Download
				%button.btn.btn-default{type: "button", "data-dismiss" => "modal"}
					%i.fa.fa-times
					Cencel