<div class="form-group">
	<div class="col-sm-10 col-sm-offset-1">
		<div class="input-group">
			<input type="text" id="examiners_name" class="form-control" placeholder="Ketikan nama dosen...">
			<input type="hidden" id="lecturer_id">
			<span class="input-group-btn">
				<button type="button" id="submit" class="btn btn-success"><i class="fa fa-plus"></i></button>
			</span>
		</div>
	</div>
</div>