<div class="form-group">
	<label for="post_boundable_id" class="col-sm-3 control-label">Scope</label>
	<div class="col-sm-9">
		<select class="form-control" id="post_boundable_id" name="post[boundable_id]"><%= options %></select>
	</div>
</div>