.CodeRay {
  pre{
    // background: transparent;
    // border: none;
  }
  .code {
    pre{
      // word-break: normal;
      white-space: pre;
    }
  }
  .line-numbers {
    pre {
      word-break: normal;
      white-space: pre-wrap;
    }
  }

}
