#report-modal.modal.fade{tabindex: "-1", role: "dialog", "aria-labelledby" => "reportModalLabel", "aria-hidden" => "true", "data-backdrop" => "static", "data-keyboard" => "true"}
	.modal-dialog{style: "width: 1000px;"}
		.modal-content
			.modal-header
				%button.close{type: "button", "data-dismiss" => "modal", "aria-hidden" => true} &times;
				%h4#reportModalLabel.modal-title= @report.name
			.modal-body
				%embed{src: "#{polymorphic_url([@course, @report])}", width: "100%", height: "450px"}
			.modal-footer
				= link_to polymorphic_path([@course, @report], download: true), class: "btn btn-primary" do
					%i.fa.fa-download
					Download
				%button.btn.btn-default{type: "button", "data-dismiss" => "modal"}
					%i.fa.fa-times
					Cencel